body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #E7DFD4;
}

header {
    background-color: #E7DFD4;
    color: #020672;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 20px;
}

.logo img {
    width: 200px; /* Hier kannst du die Breite deines Logos anpassen */
    height: auto;
    float: right;
}

footer {
    background-color: #E7DFD4;
    color: #020672;
    text-align: left;
    padding: 10px;
}

footer a {
    text-decoration: none;
    color: #020672;
    margin: 0 10px;
}

/* Optional: Stil für die Hover-Zustände der Links */
footer a:hover {
    text-decoration: underline;
}