body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: #E7DFD4;
  min-height: 100vh;
}

header {
  background-color: #E7DFD4;
  color: #020672;
  padding: 10px 20px;
  text-align: right;
}

#container {
  width: 1350px; /* Breite des Containers */
  height: auto; /* Höhe des Containers */
  margin: 50px auto; /* Horizontale Zentrierung und individuelle Abstände oben/unten */
  padding: 0px 20px; /* Individuelle Abstände rechts/links oben/unten */
}


.logo img {
  width: 200px;
  height: auto;
}


.content {
  padding: 20px;
  color: #2B4A28;
  margin-left: -10px;
  margin-top:-80px
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

p {
  font-size: 1em;
  text-align: justify;
}

h2 {
margin-top: 20px;
color: white;
}


h3 {
  margin-top: 20px;
  color: #2B4A28;
}

#titel-resteRezepte {
  margin-top: 40px;
}

.kategorien-rezeptVorschlag-design {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box h2 {
  margin-top: 158px;
  margin-left: -10px;
  margin-right: -10px;
  color: white;
  background-color: #EE9C50;
  padding: 10px;
}


.kategorie-box {
  width: calc(33.33% - 20px);
  height: 200px;
  margin: 10px;
  cursor: pointer;
  background-color: #EE9C50;
  border: none;
  background-size: cover;
  background-position: center;
  filter: brightness(1); /* Keep this for the default state */
  position: relative;
  overflow: hidden;
}

.kategorie-box:hover{
  background-color: #E98223;
}

.box {
  width: calc(33.33% - 20px);
  height: 200px;
  margin: 10px;
  cursor: pointer;
  background-color: #EE9C50;
  border: none;
  background-size: cover;
  background-position: center;
  filter: brightness(1); /* Keep this for the default state */
  position: relative;
  overflow: hidden;
}

.box:hover {
  background-color: #E98223;
  filter: brightness(0.8);
  transition: filter 0.3s; /* Add a transition for the filter property */
}


.link-style {
  color: #2B4A28;
  text-align: center;
  display: block; 
}

/*Einzelne Rezeptseite*/

#herzkontur {
  width: 40px;
  height: auto;
  position: absolute;
  right: 70px;
  top: 220px;
}

#rezeptBild {
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: center center;
}

.bewertung {
  display: flex;
  align-items: left;
}

.bewertung input {
  display: none;
}

.bewertung label {
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-color: #2B4A28;
  border-radius: 50%;
  margin: 5px;
}

.bewertung label:before {
  content: "\2605";
  font-size: 24px;
  display: block;
  text-align: center;
  line-height: 30px;
  color: #E7DFD4;
  transition: color 0.2s;
}

.bewertung input:checked + label {
  background-color: #E98223;
}

.bewertung input:checked + label:before {
  color: #E7DFD4;
}

#bewertungButton {
  width: 200px;
  height: 40px;
  background-color: #2B4A28;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#bewertungButton:hover {
  background-color: #E98223;
}
#horizontal-line {
  width: 100%;
  border: 1px solid #2B4A28; 
  margin: 0; /* Den Abstand um das <hr>-Element entfernen */
}


footer {
  background-color: #2B4A28;
  color: #E7DFD4;
  padding: 20px;
  text-align: center;
  right: 0px;
  left: 0px;
  bottom: 0px;
  display: flex;
  margin-top: auto;
  justify-content: center;
}

footer a {
  text-decoration: none;
  color: #E7DFD4;
  margin: 60px;
}

footer li {
  display: inline-block;
  
}

/* Style für Magic Link Form */
#magic-link-form {
  width: 500px;
  margin: 0;
  display: flex;
  text-align: center;
  grid-gap: 10px;
  align-items: center;
}

/* Styles für das E-Mail-Eingabefeld */
#email {
  width: 180px;
  padding: 10px;
  margin: 10px 0;
  border: 2px solid #2B4A28;
  border-radius: 4px;
  background-color: #E7DFD4;
}

/* Styles für die Senden-Schaltfläche */
button[type="submit"] {
  width: 200px;
  height: 40px;
  background-color: #2B4A28;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #E98223;
}



/* Media queries for responsive design */
@media (max-width: 768px) {
    .box {
      width: calc(55% - 20px);
      height: calc(50% - 20px);
    }
    .logo img {
      width: 150px;
    }
  }

